<h1>Sign up!</h1>
<% if @user.errors.size > 0 %>
  <div class="errors">
    <ul>
      <%= @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@user) do |f| %>
  <ul>
    <li>
      <%= f.label      :first_name %>
      <%= f.text_field :first_name %>
    </li>

    <li>
      <%= f.label      :last_name %>
      <%= f.text_field :last_name %>
    </li>

    <li>
      <%= f.label      :username %>
      <%= f.text_field :username %>
    </li>

    <li>
      <%= f.label      :email %>
      <%= f.text_field :email %>
    </li>

    <li>
      <%= f.label      :email_confirmation %>
      <%= f.text_field :email_confirmation %>
    </li>

    <li>
      <%= f.label          :password %>
      <%= f.password_field :password %>
    </li>

    <li>
      <%= f.label          :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </li>

    <li>
      <%= f.label      :password_hint %>
      <%= f.text_field :password_hint %>
    </li>

    <li>
      <%= f.submit %>
    </li>
  </ul>
<% end %>
