<%= form_for [:admin, @movie] do |f| %>c
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @movie.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :rating %>
    <%= f.text_field :rating %>
  </div>

  <div class="field">
    <%= f.label :duration %>
    <%= f.text_field :duration %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.select :status, ["coming-soon", "preorder", "billboard"] %>
  </div>

  <div class="field">
    <%= f.label :progress %>
    <%= f.text_field :progress %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
