<div>
  <h2>List series</h2>
  <%= link_to 'New serie', new_admin_series_path %>
</div>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Rating</th>
      <th>Price</th>
      <th>Status</th>
      <th>Show</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @series.each do |serie|%>
        <tr>
          <td><%= serie.title %></td>
          <td><%= serie.description %></td>
          <td><%= serie.rating %></td>
          <td><%= serie.price %></td>
          <td><%= serie.status %></td>
          <td><%= link_to 'Show', admin_series_path(serie) %></td>
          <td>
            <%= link_to 'Edit', edit_admin_series_path(serie) %>
            <%= link_to 'Destroy', admin_series_path(serie), method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
  </tbody>
</table>
